<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <h1>Movies in City : [<%= city %>]</h1>
    <a href="/selectcity">Change City</a>
    <p></p>
    <% movies.forEach( m => { %>
        <div>
            <%= m %>
        </div> 
    <%
     }) 
    %>

</body>

</html>