<!DOCTYPE html>
<html>
  <head>
    <title>Interest</title>
  </head>
  <body>
     <h1>Interest Calculation</h1>
     <form action="interest">
         Amount <br/>
         <input type="number" name="amount"  required />
         <p></p>
         <button>Calculate</button>
     </form>

  </body>
</html>
