<!DOCTYPE html>
<html>

<head>
  <title>Sale</title>
</head>

<body>
  <h1>Sale</h1>
  <form action="sale" method="post">
    Amount <br />
    <input type="number" name="amount" required />
    <p></p>
    Pin <br/>
    <input type="password" name="pin" required  minlength="4" maxlength="4" pattern="[0-9]+" />
    <p></p>
    <button>Submit</button>
  </form>

   
</body>

</html>